click==7.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
Flask==2.3.2
undetected-chromedriver==3.4.6
selenium==4.12.0
beautifulsoup4==4.12.2
pandas==2.0.3
openpyxl==3.1.2
