{% extends "base/base.html" %}

{% block title %}Adicionar Estudante{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Adicionar Estudante</h1>
</div>
<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail" required>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Idade</label>
        <input type="number" class="form-control" id="age" name="age" placeholder="Digite a idade" required>
    </div>
    <div class="mb-3">
        <label for="classe_id" class="form-label">Classe</label>
        <select class="form-select" id="classe_id" name="classe_id" required>
            <option value="" disabled selected>Selecione uma classe</option>
            {% for classe in classes %}
                <option value="{{ classe['_id'] }}">{{ classe['classe'] }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}

